    <div class="panel panel-default" id="panelMemoria">
        <div class="panel-heading">
            <h3 class="panel-title">Memoria del Sistema</h3>
            <button type="button" class="btn btn-default col-md-1 closebutton" data-toggle="collapse" data-target="#bodyMemoria" >-</button>
        </div>
        <div class="panel-body collapse">
            <table class="table table-bordered" id="tablaMemoria">
                <tbody>
                    {% for i in range(0,9)|merge('A'..'F') %}
                        <tr>  
                        {% for j in range(0,9)|merge('A'..'F') %}
                            {% include "components/simulacion/contenidoMemoria.twig" %}
                        {% endfor %}
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
