<div class="panel panel-default" id="panelRegistros">
        <div class="panel-heading">
            <h3 class="panel-title col-md-11">Registros del Procesador
            </h3>
                <button type="button" class="btn btn-default col-md-1" data-toggle="collapse" data-target="#bodyRegistro" >-</button>
        </div>
        <div class="panel-body collapse in" id="bodyRegistro">
            <table class="table table-bordered"id="row1">
                <thead><tr>
                    {% for i in range(0, 7) %}
                        {% include "components/simulacion/tituloRegistro.twig" %}
                    {% endfor %}
                </tr></thead> 
                <tbody> <tr>  
                    {% for i in range(0, 7) %}
                        {% include "components/simulacion/contenidoRegistro.twig" %}
                    {% endfor %} 
                </tr></tbody>
            </table>
            <table class="table table-bordered" id="row2">
                <thead><tr>
                    {% for i in [8,9]|merge('A'..'F') %}
                        {% include "components/simulacion/tituloRegistro.twig" %}
                    {% endfor %}
                </tr></thead> 
                <tbody> <tr>  
                    {% for i in [8,9]|merge('A'..'F') %}
                        {% include "components/simulacion/contenidoRegistro.twig" %}
                    {% endfor %} 
                </tr></tbody>
            </table>
        </div>
    </div>
