<div class="panel panel-default" id="panelRegistros" v-if="ver">
        <div class="panel-heading">
            <h3 class="panel-title">Registros del Procesador</h3>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="panel-body">
            <table class="table table-bordered"id="row1">
                <thead><tr>
                    {% for i in range(0, 7) %}
                        {% include "components/simulacion/tituloRegistro.twig" %}
                    {% endfor %}
                </tr></thead> 
                <tbody> <tr>  
                    {% for i in range(0, 7) %}
                        {% include "components/simulacion/contenidoRegistro.twig" %}
                    {% endfor %} 
                </tr></tbody>
            </table>
            <table class="table table-bordered" id="row2">
                <thead><tr>
                    {% for i in [8,9]|merge('A'..'F') %}
                        {% include "components/simulacion/tituloRegistro.twig" %}
                    {% endfor %}
                </tr></thead> 
                <tbody> <tr>  
                    {% for i in [8,9]|merge('A'..'F') %}
                        {% include "components/simulacion/contenidoRegistro.twig" %}
                    {% endfor %} 
                </tr></tbody>
            </table>
        </div>
    </div>
