body {
   padding-left: 0;
   padding-right:0;
   font-family: Georgia, "Times New Roman",
        Times, serif;
  color: white;
  background-color: #FFF;
}

#panelTOTAL{
   background-color: #f5e79e;
   padding-right:1em;
    margin-top: 50px;
    padding-top: 0px;
    border-width: 0px;
    box-shadow: none;
}


/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}
