body {
   padding-left: 0;
   padding-right:0;
   font-family: Georgia, "Times New Roman",
        Times, serif;
  color: black;
  background-color: #FFF;

}
html{
font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
line-height: 1.5;
font-size: 15px;
font-weight: 400;
}
#panelTOTAL{
   background-color: #f5e79e;
   padding-right:1em;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom:150px;
    border-width: 0px;
    box-shadow: none;
    width:60%;
}
#panelIde{
    margin-top: 60px;
}
#panelCode{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#panelCompilado{
    height:80%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#panelRegistros{
    
}
#tipoEjecucion{
    padding-right: 5px;
    padding-left: 0px;
}
.btn-group.bootstrap-select.col-md-8 {
    padding-right: 5px;
    padding-left: 0px;

}
#compilar{
    float: right;
}
.tablaRegistro{
    padding-top:5px;
    padding-bottom:5px;
}
.link-footer {
    background: #111;
    padding: 0px 0 60px;
    position: relative;
}
#linksFooter{
    padding-top: 40px;
}
.link-footer .copyright {

    position: absolute;
    right: 20px;
    top: 0;
    text-align: right;
    font-size: 0.8rem;
    color: #959595;

}
.link-footer nav {

    margin: 0 0 8px 0;

}
.width-wrapper {

    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;

}
#logo{
    float:right;
}
#ejecutar{
    float:right;
}
#dirInicio{
    resize: none;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    height: 30px;
    width: 40px;
    border-width: 0px;
    background-color: #ddd6;
}
#labeldirinicio{
    padding-right: 0px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}
.panel-title{
    text-align:center;
}
#row1{
    margin-bottom:10px;
}
#row2{
    margin-bottom:0px;
}
.th{
    padding-top:5px;
    padding-bottom:5px;
}
.table.table-bordered {

    margin-bottom: 5px;
}
.tablaMemoria:hover {
    background-color: #ddd;
}
.tablaRegistro:hover {
    background-color: #ddd;
}
#botoneraEjecucion{
    margin-bottom: 10px;
}
#botoneraEjecucion1{
    margin-bottom: 10px;
    float: right;
}
