{% extends 'layout.twig' %}

{% block body %}
        {% include "components/navegationBar.twig" %}
        <div class="container-fluid" id="panelIde">
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-default" id="panelCode">
                  <div class="panel-heading">
                    <h3 class="panel-title">Codigo</h3>
                  </div>
                  <div class="panel-body">
                    <form role="form">
                        <textarea id="sourceCode"
                                  class="form-control source-code"
                                  style="margin-bottom:5px;"
                                  rows="20"
                                  tab-support
                                  select-line
                                  ng-model="code">//aca iria el codigo fuente</textarea>
                        <div id="barraCompilar">
                            <h5 class="col-md-6" id="labeldirinicio">Direccion de Inicio:</h5>
                            <textarea id="dirInicio" class="col-md-2" rows="1" cols="2" maxlength="2"></textarea>
                            <button type="button" class="btn btn-default col-md-4" id="compilar">Compilar</button>
                        </div> 
                    </form>
                  </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default" id="panelCompilado">
                  <div class="panel-heading">
                    <h3 class="panel-title">Codigo Compilado</h3>
                  </div>
                  <div class="panel-body">
                    <form role="form">
                        <textarea id="codigoCompilado"
                                  class="form-control source-code"
                                  style="margin-bottom:5px;"
                                  rows="20"
                                  tab-support
                                  select-line
                                  ng-model="code"
                                  readonly>//Aca iria el codigo compilado</textarea>
                        <div id="barraCompilar">
                            <select class="selectpicker col-md-8" id="tipoEjecucion">
                                <option>Todo el Código</option>
                                <option>De a 1 Instrucción</option>
                            </select>
                            <button type="button" class="btn btn-default col-md-4" id="ejecutar">Ejecutar</button>
                        </div>    
                    </form>
                  </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-5">
                <div id="botoneraEjecucion">
                    <button type="button" class="btn btn-default col-md-6" id="siguientePaso">Siguiente Paso</button>
                    <button type="button" class="btn btn-default col-md-6" id="detener">Detener Ejecución</button>
                </div>
                <div class="panel panel-default" id="panelRegistros">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registros del Procesador</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered"id="row1">
                            <thead><tr>
                                {% for i in range(0, 7) %}
                                    <th style="padding-top:3px;padding-bottom:3px;text-align:center;">R{{i}}</th>
                                {% endfor %}
                            </tr></thead> 
                            <tbody> <tr>  
                                {% for i in range(0, 7) %}
                                    <th style="padding-top:3px;padding-bottom:3px;text-align:center;" class="h5 tablaRegistro" id="registro{{i}}">00</th>
                                {% endfor %} 
                            </tr></tbody>
                        </table>
                        <table class="table table-bordered" id="row2">
                            <thead><tr>
                                <th style="padding-top:3px;padding-bottom:3px;text-align:center;" >R8</th>
                                <th style="padding-top:3px;padding-bottom:3px;text-align:center;" >R9</th>
                                {% for i in 'A'..'F' %}
                                    <th class="tablaRegistro"style="padding-top:3px;padding-bottom:3px;text-align:center;">R{{i}}</th>
                                {% endfor %}
                            </tr></thead> 
                            <tbody> <tr>  
                                {% for i in range(8, 15) %}
                                    <th class="h5 tablaRegistro" id="registro{{i}}"style="padding-top:3px;padding-bottom:3px;text-align:center;">00</th>
                                {% endfor %} 
                            </tr></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% include "components/footer.twig" %}

{% endblock %}
