{% extends 'layout.twig' %}

{% block body %}
        {% include "components/navegationBar.twig" %}
        <div class="container-fluid" id="panelIde">
            <!div class="col-xs-6 col-md-7" id="Principal">
                {% include "components/menu.twig" %} 
                
                <div class="col-xs-12 col-md-4">
                	{% include "components/panelCode.twig" %}    
                </div>
                <div class="col-xs-12 col-md-3">
                    {% include "components/panelCompilado.twig" %} 
                </div>
            <!/div>            
            <div class="col-xs-12 col-md-5">
			        {% include "components/divEjecucion.twig" %} 
            </div>
        </div>
        {% include "components/footer.twig" %}

{% endblock %}
