{% extends 'layout.twig' %}

{% block body %}
        {% include "components/navegationBar.twig" %}
        <div class="container-fluid" id="panelIde">
		    {% include "components/menu/menu.twig" %} 		
		    <div id="contenedorCode" v-if="ver" class="col-xs-12" v-bind:class="[bigSize]">
			    {% include "components/panelCode.twig" %}    
		    </div>
		    <div id="contenedorCompilado" v-if="ver" class="col-xs-12" v-bind:class="[bigSize]">
		        {% include "components/panelCompilado.twig" %} 
		    </div>
            <div id="contenedorSimulacion" v-if="ver" class="col-xs-12" v-bind:class="[bigSize]">
        		{% include "components/panelSimulacion.twig" %} 
            </div>
        </div>
        {% include "components/footer.twig" %}

    <script src="javascripts/funciones.js" type="text/javascript"></script>
    <script src="javascripts/components.js" type="text/javascript"></script>

{% endblock %}
