{% extends 'layout.twig' %}

{% block body %}
       {% include "components/navegationBar.twig" %}
       <div class="container-fluid id=panelTOTAL">
	   <button type="button" class="btn btn-default btn-lg btn-block">Crear Nuevo Archivo</button>
           <button type="button" class="btn btn-default btn-lg btn-block">Subir Archivo Desde Ordenador</button>
       </div>
{% endblock %}
