{% extends 'layout.twig' %}

{% block body %}
       {% include "components/navegationBar.twig" %}
       <div class="panel panel-info" id="panelTOTAL">
           <div class="row">
               <div class="col-md-4" id="panelIzquierdo">
               </div>
               <div class="col-md-8" id="panelDerecho">
               </div>
           </div>
       </div>
{% endblock %}
