    <div id="botoneraEjecucion" class="btn-group col-md-6">
            <button type="button" class="btn btn-default col-md-6" id="volver">Volver</button>
            <button type="button" class="btn btn-default col-md-6" id="ventanas">Ventanas Habilitadas</button>    
    </div>
    <div id="botoneraEjecucion1" class="btn-group col-md-6">
            <button type="button" class="btn btn-default col-md-6" id="siguientePaso">Siguiente Paso</button>
            <button type="button" class="btn btn-default col-md-6" id="detener">Detener Ejecución</button>
    </div>
