    <div id="botoneraEjecucion" class="col-md-12">
        <div class="col-md-6">
            <button type="button" class="btn btn-default" id="siguientePaso">Siguiente Paso</button>
        </div>                    
        <div class="col-md-6">
            <button type="button" class="btn btn-default" id="detener">Detener Ejecución</button>
        </div>                    
    </div>
