    <div id="botoneraEjecucion" class="btn-group col-md-12">
            <button type="button" class="btn btn-default col-md-3" id="volver">Volver</button>
            <button type="button" class="btn btn-default col-md-3" id="ventanas">Ventanas Habilitadas</button>
            <button type="button" class="btn btn-default col-md-3" id="siguientePaso">Siguiente Paso</button>
            <button type="button" class="btn btn-default col-md-3" id="detener">Detener Ejecución</button>
    </div>
