<footer class="link-footer" id="link-footer">

  <div class="width-wrapper" id="link-footer-width-wrapper">

    <nav class="link-footer-links link-footer-codepen-links" id="link-footer-codepen-links">
      <strong>CodePen</strong>
      <a href="/about/">About</a>
      <a href="https://blog.codepen.io/">Blog</a>
      <a href="https://blog.codepen.io/radio/">Podcast</a>
      <a href="/advertising/">Advertising</a>
      <a href="https://blog.codepen.io/documentation">Docs</a>
      <a href="/support/">Support</a>
      <a href="https://blog.codepen.io/shop/">Shop</a>
    </nav>

    <nav class="link-footer-links link-footer-community-links" id="link-footer-community-links">
      <strong>Community</strong>
      <a href="/jobs/">Jobs</a>
      <a href="https://blog.codepen.io/meetups/">Meetups</a>
      <a href="/pro/teams/">Teams</a>
      <a href="/patterns/">Patterns</a>
      <a href="https://blog.codepen.io/legal/code-conduct/">Code of Conduct</a>
    </nav>

    <nav class="link-footer-links link-footer-social-links" id="link-footer-social-links">
      <strong>Social</strong>
      <a href="https://twitter.com/CodePen">Twitter</a>
      <a href="https://www.facebook.com/CodePen/">Facebook</a>
      <a href="https://www.flickr.com/photos/codepen/">Flickr</a>
      <a href="https://www.instagram.com/codepen/">Instagram</a>
    </nav>




    <div class="copyright" id="link-footer-copyright">
      <h1 class="logo header-chunk">

  <a href="https://codepen.io/" class="small-screen-logo">
    
  </a>

  <a href="https://codepen.io/" class="large-screen-logo">
    CodePen
  </a>

  </h1>
      <p>&copy;2018 CodePen</p>
      <p class="slogan"><em>Demo or it didn't happen.</em></p>
    </div>

  </div>

</footer>
