    <nav class="navbar navbar-inverse navbar-fixed-top">
           <div class="container">
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a class="navbar-brand">Scouts y Guias en Argentina</a>
               </div>
               <div id="navbar" class="navbar-collapse collapse">
                   <ul class="nav navbar-nav">
                       <li class="btn-group">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estilos <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                               <li><a href="#" onclick="cambiarArchivoCss('stylesheets/Formato1.css')">Estilo 1</a></li>
                               <li><a href="#" onclick="cambiarArchivoCss('stylesheets/Formato2.css')">Estilo 2</a></li>
                           </ul>
                       </li>
                   </ul>

                   <ul class="nav navbar-nav navbar-right">
                       <li id="contInicio">
                       <fb:login-button perms="email,user_birthday,picture" id="inciofb" data-auto-logout-link="true" data-button-type="login_with"  data-size="large"></fb:login-button>
                       </li>
                   </ul>

               </div><!-- /.navbar-collapse -->

           </div>

       </nav>
