    <div class="panel panel-default" id="panelRegistros">
        <div class="panel-heading">
            <h3 class="panel-title">Registros del Procesador</h3>
        </div>
        <div class="panel-body">
            {% block body %}
	            {% set idTable, lista = "row1", range(0, 7) %}
                {% include "components/renderTable.twig" %}
            {% endblock %}
            {% block body %}
	            {% set idTable, lista = "row2", [8,9]|merge('A'..'F') %}
                {% include "components/renderTable.twig" %}
            {% endblock %}
        </div>
    </div>
