    <div class="panel" id="filtros">
       <div><center><h3 id="filtroTag">Filtrar Resultados</h3></center></div>
       <div>
         {% for filtro in filtros %}
               {% include "components/renderFiltro.twig" %}
          {% endfor %}
            <button type="button" class="btn btn-primary .col-md-2">Filtrar</button>
       </div>
    </div>
