<div class="panel panel-default" id="panelRegistros">
        <div class="panel-heading">
            <h3 class="panel-title">Registros del Procesador</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered"id="row1">
                <thead><tr>
                    {% for i in range(0, 7) %}
                        <th style="padding-top:3px;padding-bottom:3px;text-align:center;">R{{i}}</th>
                    {% endfor %}
                </tr></thead> 
                <tbody> <tr>  
                    {% for i in range(0, 7) %}
                        <th style="padding-top:3px;padding-bottom:3px;text-align:center;" 
                        class="h5 tablaRegistro" id="registro{{i}}">00</th>
                    {% endfor %} 
                </tr></tbody>
            </table>
            <table class="table table-bordered" id="row2">
                <thead><tr>
                    {% for i in [8,4]|merge('A'..'F') %}
                        <th class="tablaRegistro"style="padding-top:3px;padding-bottom:3px;text-align:center;">R{{i}}</th>
                    {% endfor %}
                </tr></thead> 
                <tbody> <tr>  
                    {% for i in range(8, 15) %}
                        <th class="h5 tablaRegistro" id="registro{{i}}"
                        style="padding-top:3px;padding-bottom:3px;text-align:center;">00</th>
                    {% endfor %} 
                </tr></tbody>
            </table>
        </div>
    </div>
