    <div class="panel panel-default" id="panelMemoria">
        <div class="panel-heading">
            <h3 class="panel-title">Memoria dell Sistema</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered" id="tablaMemoria">
                <tbody> <tr>  
                    {% for i in 0..9|merge('A'..'F') %}
                        {% for j in 0..9|merge('A'..'F') %}
                            {% include "components/contenidoMemoria.twig" %}
                        {% endfor %}
                    {% endfor %} 
                </tr></tbody>
            </table>
        </div>
    </div>
