    <div class="panel-heading" id="PanelInformacionHead">
       <center>
           <h3 class="panel-title" id="Panel_Titulo">
               Información
           </h3>
       </center>
    </div>
