    <div class="panel-body" id="panel-nuevoComentario">
       <div class="form-group ">
           <label for="comment">Nuevo comentario:</label>
           <textarea class="form-control" rows="3" id="coment" cols="30"></textarea>
       </div>
       <div class="form-group col-xs-8">
           <button type="submit" class="btn btn-primary" onclick="enviarComentario()">Enviar comentario</button>
       </div >
    </div>
