    <table class="table table-bordered"id={{idTable}}>
        <thead><tr>
            {% for i in lista %}
                {% include "components/tituloRegistro.twig" %}
            {% endfor %}
        </tr></thead> 
        <tbody> <tr>  
            {% for i in lista %}
                {% include "components/contenidoRegistro.twig" %}
            {% endfor %} 
        </tr></tbody>
    </table>
