    <div id="botoneraEjecucion" class="btn-group col-xs-12 col-md-7">
            <button type="button" class="btn btn-default col-md-6" id="volver">Volver</button>
		    <select class="selectpicker col-md-6" id="ventanas" multiple title="Ventanas Habilitadas">
		        <option>Codigo Fuente</option>
		        <option>Codigo Compilado</option>
		        <option>Registros del Procesador</option>
		        <option>Memoria del Sistema</option>
		        <option>Logs</option>
		    </select>
            <!button type="button" class="btn btn-default col-md-6" id="ventanas"Ventanas Habilitadas!/button>    
    </div>
