    <div id="botoneraEjecucion" class="btn-group col-xs-12 col-md-7">
            <button type="button" class="btn btn-default col-md-5" id="volver">Volver</button>
		    <select id="ventanas" class="col-md-6" multiple="multiple">
		        <option value="0">Codigo Fuente</option>
		        <option value="1">Codigo Compilado</option>
	    	    <option value="2">Simulacion</option>
		    </select>
            <!button type="button" class="btn btn-default col-md-6" id="ventanas"Ventanas Habilitadas!/button>    
    </div>
